# Preproceso para datos fuera de Espa√±a

## Peticiones de asilo

In [6]:
import pandas as pd

In [7]:
population = pd.read_csv(f'../data/raw/population.csv')
population.head()

,year,coo_name,coo,coo_iso,coa_name,coa,coa_iso,refugees,asylum_seekers,returned_refugees,idps,returned_idps,stateless,ooc,oip,hst
0,2010,Afghanistan,AFG,AFG,Afghanistan,AFG,AFG,0,0,0,351907,3366,0,838250,NaN,NaN
1,2010,Iran (Islamic Rep. of),IRN,IRN,Afghanistan,AFG,AFG,30,21,0,0,0,0,0,NaN,NaN
2,2010,Iraq,IRQ,IRQ,Afghanistan,AFG,AFG,6,0,0,0,0,0,0,NaN,NaN
3,2010,Pakistan,PAK,PAK,Afghanistan,AFG,AFG,6398,9,0,0,0,0,0,NaN,NaN
4,2010,Egypt,ARE,EGY,Albania,ALB,ALB,5,0,0,0,0,0,0,NaN,NaN

In [8]:
population.columns

Index(['year', 'coo_name', 'coo', 'coo_iso', 'coa_name', 'coa', 'coa_iso',
       'refugees', 'asylum_seekers', 'returned_refugees', 'idps',
       'returned_idps', 'stateless', 'ooc', 'oip', 'hst'],
      dtype='object')

In [9]:
population = population.drop(columns=['coo', 'coo_iso', 'coa', 'coa_iso', 'ooc', 'oip', 'hst', 'stateless'])
population = population.rename(columns={ 'coo_name': 'Origen', 'coa_name':'Destino', 'idps':'Desplazamiento_interno', 'refugees':'Refugiados', 'asylum_seekers':'Busca_asilo', 'returned_refugees': 'Rechazados', 'returned_idps':'Rechazados_interno'})
population.head(5)

,year,Origen,Destino,Refugiados,Busca_asilo,Rechazados,Desplazamiento_interno,Rechazados_interno
0,2010,Afghanistan,Afghanistan,0,0,0,351907,3366
1,2010,Iran (Islamic Rep. of),Afghanistan,30,21,0,0,0
2,2010,Iraq,Afghanistan,6,0,0,0,0
3,2010,Pakistan,Afghanistan,6398,9,0,0,0
4,2010,Egypt,Albania,5,0,0,0,0

In [10]:
population.isnull().sum()

year                      0
Origen                    0
Destino                   0
Refugiados                0
Busca_asilo               0
Rechazados                0
Desplazamiento_interno    0
Rechazados_interno        0
dtype: int64

## Desastres

In [22]:
desastre = pd.read_excel(f'../data/raw/IDMC_Internal_Displacement_Conflict-Violence_Disasters.xlsx', sheet_name=0)
desastre.head()

,ISO3,Name,Year,Conflict Stock Displacement,Conflict Stock Displacement (Raw),Conflict Internal Displacements,Conflict Internal Displacements (Raw),Disaster Internal Displacements,Disaster Internal Displacements (Raw),Disaster Stock Displacement,Disaster Stock Displacement (Raw)
0,AB9,Abyei Area,2022,56000.0,55705.0,56000.0,55750.0,29000.0,28803.0,NaN,NaN
1,AFG,Afghanistan,2022,3444000.0,3443895.0,32000.0,32424.0,220000.0,220387.0,2482000.0,2482264.0
2,AGO,Angola,2022,NaN,NaN,NaN,NaN,1800.0,1771.0,NaN,NaN
3,ALB,Albania,2022,NaN,NaN,NaN,NaN,320.0,318.0,NaN,NaN
4,ARG,Argentina,2022,NaN,NaN,NaN,NaN,730.0,731.0,NaN,NaN

In [23]:
desastre.columns

Index(['ISO3', 'Name', 'Year', 'Conflict Stock Displacement',
       'Conflict Stock Displacement (Raw)', 'Conflict Internal Displacements',
       'Conflict Internal Displacements (Raw)',
       'Disaster Internal Displacements',
       'Disaster Internal Displacements (Raw)', 'Disaster Stock Displacement',
       'Disaster Stock Displacement (Raw)'],
      dtype='object')

In [24]:
desastre = desastre.drop(columns=['Disaster Internal Displacements',
       'Disaster Internal Displacements (Raw)', 'Disaster Stock Displacement',
       'Disaster Stock Displacement (Raw)', 'ISO3', 'Conflict Stock Displacement (Raw)', 'Conflict Stock Displacement', 'Conflict Internal Displacements (Raw)'])
desastre = desastre.rename(columns={ 'Name': 'Pais', 'Conflict Internal Displacements':'N_Internos_violencia'})
desastre.head(5)

          Pais  Year  N_Internos_violencia
0   Abyei Area  2022               56000.0
1  Afghanistan  2022               32000.0
2       Angola  2022                   NaN
3      Albania  2022                   NaN
4    Argentina  2022                   NaN

In [25]:
desastre.isnull().sum()

Pais                       0
Year                       0
N_Internos_violencia    1255
dtype: int64

In [26]:
desastre = desastre.fillna(0)
desastre.isnull().sum()

Pais                    0
Year                    0
N_Internos_violencia    0
dtype: int64

In [28]:
desastre[["N_Internos_violencia"]] = desastre[["N_Internos_violencia"]].astype(int)

## Guardar datos

In [27]:
population.to_csv("../data/process/PeticionesInternacionales.csv", sep=',')
desastre.to_csv("../data/process/DeplazConflictos.csv", sep=',')