# Preprocesamiento de datos centrado en España por Comunidad Autonoma

In [388]:
import pandas as pd
from unidecode import unidecode

## Procesado de las peticiones por comunidad autonoma de España

Algunos métodos que se utilizaran para leer ficheros.

In [389]:
def leer_fichero(filename, carpeta, ext, sheet=0, skip=-1, cols='A:D'):
    if ext == '.csv':
        asilo =  pd.read_csv(f'../data/raw/{carpeta}/{filename}', sep = ";", encoding='latin-1')
    else:
        if skip != -1:
            asilo = pd.read_excel(f'../data/raw/{carpeta}/{filename}', sheet_name=sheet, skiprows=skip, usecols=cols)
        else:
            asilo = pd.read_excel(f'../data/raw/{carpeta}/{filename}', sheet_name=sheet)
    return asilo

In [390]:
comunidades = ['Andalucía', 'Aragón', 'Asturias', 'Cantabria', 'Castilla La Mancha', 'Castilla y León', 'Cataluña',
 'Ceuta', 'Comunidad de Madrid', 'Comunidad de Murcia', 'Comunidad Valenciana', 'Extremadura', 'Galicia', 'Islas Baleares',
 'Islas Canarias', 'La Rioja', 'Melilla', 'Navarra', 'País Vasco']

In [391]:
def comprobar(df):
    return df[~df['CA'].isin( comunidades)]

In [392]:
def renombrar(df):
    return df.rename(columns={ 'Comunidad Autónoma': 'CA' })

In [393]:
def comunidad(df):
    df['CA'] = df['CA'].apply(unidecode)
    return df

In [394]:
# Dataframe global
global_df = pd.DataFrame()

In [395]:
def realizar_prep(df):
    df = renombrar(df)
    return comprobar(df)

### 2012 - España

In [396]:
spain12 = leer_fichero('SolicitantesProtección InternacionalPorCCAA.csv', 'Asilo2012', '.csv')
spain12.tail(5)

   Comunidad Autónoma  Solicitantes
18         País Vasco        78.000
19             Total          2.322
20                NaN           NaN
21                NaN           NaN
22                NaN           NaN

In [397]:
spain12 = spain12.iloc[:-4]
spain12.tail(4)

   Comunidad Autónoma  Solicitantes
15           La Rioja           1.0
16            Melilla          33.0
17            Navarra           5.0
18         País Vasco          78.0

In [398]:
spain12 = renombrar(spain12)
spain12.head(2)

          CA  Solicitantes
0  Andalucía         215.0
1     Aragón           5.0

In [399]:
spain12.head(3)

          CA  Solicitantes
0  Andalucía         215.0
1     Aragón           5.0
2   Asturias           9.0

In [400]:
comprobar(spain12)

       CA  Solicitantes
7  Ceuta          184.0

In [401]:
spain12['CA'] = spain12['CA'].replace('Ceuta ', 'Ceuta')

In [402]:
spain12.isnull().sum()

CA              0
Solicitantes    0
dtype: int64

In [403]:
spain12['Año'] = 2012

### 2013 - España

In [404]:
spain13 = pd.read_excel(f'../data/raw/Asilo2013.xlsx', sheet_name=3, skiprows=6, usecols='B:C')
spain13.tail(5)

                                   Comunidad Autónoma  Solicitantes
18                                            Melilla          41.0
19                                             Total         4302.0
20                                                NaN           NaN
21  Nota: No se contabilizan las solicitudes en em...           NaN
22                                                              NaN

In [405]:
spain13 = spain13.iloc[:-4]
spain13.tail(4)

   Comunidad Autónoma  Solicitantes
15         País Vasco          62.0
16          Rioja, La           3.0
17             Ceuta          321.0
18            Melilla          41.0

In [406]:
spain13 = renombrar(spain13)
spain13['CA'] = spain13['CA'].str.strip()
comprobar(spain13)

                             CA  Solicitantes
2       Asturias, Principado de          21.0
3               Baleares, Illes           8.0
4                      Canarias          81.0
9          Comunitat Valenciana         457.0
12         Madrid, Comunidad de        1777.0
13            Murcia, Región de          73.0
14  Navarra, Comunidad Foral de           3.0
16                    Rioja, La           3.0

In [407]:
spain13['CA'] = spain13['CA'].replace('Asturias, Principado de', 'Asturias')
spain13['CA'] = spain13['CA'].replace('Baleares, Illes', 'Islas Balerares')
spain13['CA'] = spain13['CA'].replace('Canarias', 'Islas Canarias')
spain13['CA'] = spain13['CA'].replace('Comunitat Valenciana', 'Comunidad Valenciana')
spain13['CA'] = spain13['CA'].replace('Madrid, Comunidad de', 'Comunidad de Madrid')
spain13['CA'] = spain13['CA'].replace('Murcia, Región de', 'Comunidad de Murcia')
spain13['CA'] = spain13['CA'].replace('Navarra, Comunidad Foral de', 'Navarra')
spain13['CA'] = spain13['CA'].replace('Rioja, La', 'Comunidad Valenciana')
comprobar(spain13)

                CA  Solicitantes
3  Islas Balerares           8.0

In [408]:
spain13.isnull().sum()

CA              0
Solicitantes    0
dtype: int64

In [409]:
spain13['Año'] = 2013

### 2014 - España

In [410]:
spain14 = pd.read_excel(f'../data/raw/Asilo2014.xlsx', sheet_name=4, skiprows=6, usecols='B:C')
spain14.tail(5)

                                   Comunidad Autónoma  Solicitantes
18                                          Rioja, La           0.0
19                                             Total         5475.0
20                                                NaN           NaN
21  Nota: No se contabilizan las solicitudes en em...           NaN
22             ni tampoco aquellas de reasentamien...           NaN

In [411]:
spain14 = spain14.iloc[:-4]
spain14.tail(4)

             Comunidad Autónoma  Solicitantes
15            Murcia, Región de         103.0
16  Navarra, Comunidad Foral de          26.0
17                   País Vasco          99.0
18                    Rioja, La           0.0

In [412]:
spain14 = renombrar(spain14)
spain14['CA'] = spain14['CA'].str.strip()
comprobar(spain14)

                             CA  Solicitantes
2       Asturias, Principado de          36.0
3                Balears, Illes          18.0
4                      Canarias         115.0
7            Castilla-La Mancha          51.0
10         Comunitat Valenciana         605.0
13         Madrid, Comunidad de        1861.0
15            Murcia, Región de         103.0
16  Navarra, Comunidad Foral de          26.0
18                    Rioja, La           0.0

In [413]:
spain14['CA'] = spain14['CA'].replace('Comunitat Valenciana', 'Comunidad Valenciana')
spain14['CA'] = spain14['CA'].replace('Asturias, Principado de', 'Asturias')
spain14['CA'] = spain14['CA'].replace('Balears, Illes', 'Islas Baleares')
spain14['CA'] = spain14['CA'].replace('Canarias', 'Islas Canarias')
spain14['CA'] = spain14['CA'].replace('Madrid, Comunidad de', 'Comunidad de Madrid')
spain14['CA'] = spain14['CA'].replace('Murcia, Región de', 'Comunidad de Murcia')
spain14['CA'] = spain14['CA'].replace('Navarra, Comunidad Foral de', 'Navarra')
spain14['CA'] = spain14['CA'].replace('Rioja, La', 'Comunidad Valenciana')
spain14['CA'] = spain14['CA'].replace('Castilla-La Mancha', 'Castilla La Mancha')
comprobar(spain14)

Empty DataFrame
Columns: [CA, Solicitantes]
Index: []

In [414]:
spain13.isnull().sum()

CA              0
Solicitantes    0
Año             0
dtype: int64

In [415]:
spain14['Año'] = 2014

### 2015 - España

In [416]:
spain15 = pd.read_excel(f'../data/raw/Asilo2015.xlsx', sheet_name=3, skiprows=6, usecols='B:C')
spain15.tail(4)

                                   Comunidad Autónoma  Solicitantes
19                                             Total        14560.0
20                                                NaN           NaN
21  Nota: No se contabilizan las solicitudes en em...           NaN
22             ni tampoco aquellas de reasentamien...           NaN

In [417]:
spain15 = spain15.iloc[:-4]
spain15.tail(4)

   Comunidad Autónoma  Solicitantes
15           La Rioja          11.0
16            Melilla        6336.0
17            Navarra          26.0
18         País Vasco         163.0

In [418]:
spain15 = renombrar(spain15)
spain15['CA'] = spain15['CA'].str.strip()
comprobar(spain15)

              CA  Solicitantes
5  Castilla León         106.0

In [419]:
spain15['CA'] = spain15['CA'].replace('Castilla León', 'Castilla y León')
comprobar(spain15)

Empty DataFrame
Columns: [CA, Solicitantes]
Index: []

In [420]:
spain15.isnull().sum()

CA              0
Solicitantes    0
dtype: int64

In [421]:
spain15['Año'] = 2015

### 2016 - España

In [422]:
spain16 = leer_fichero('TABLA 2-3.xlsx', 'Asilo2016', '.xlsx', 0, 1, 'A:B')
spain16.tail(4)

                                   Comunidad autónoma  Solicitantes
17                                         País Vasco         500.0
18                                          Rioja, La          22.0
19                                             Total        15697.0
20  Nota: No se contabilizan las solicitudes en em...           NaN

In [423]:
spain16 = spain16.iloc[:-2]
spain16.tail(4)

   Comunidad autónoma  Solicitantes
15  Murcia, Región de         565.0
16            Navarra          79.0
17         País Vasco         500.0
18          Rioja, La          22.0

In [424]:
spain16 =  spain16.rename(columns={ 'Comunidad autónoma': 'CA' })
spain16['CA'] = spain16['CA'].str.strip()
comprobar(spain16)

                      CA  Solicitantes
3         Balears, Illes         127.0
4               Canarias         433.0
7     Castilla-La Mancha         219.0
10  Comunitat Valenciana        1367.0
13  Madrid, Comunidad de        5240.0
15     Murcia, Región de         565.0
18             Rioja, La          22.0

In [425]:
spain16['CA'] = spain16['CA'].replace('Comunitat Valenciana', 'Comunidad Valenciana')
spain16['CA'] = spain16['CA'].replace('Balears, Illes', 'Islas Baleares')
spain16['CA'] = spain16['CA'].replace('Canarias', 'Islas Canarias')
spain16['CA'] = spain16['CA'].replace('Madrid, Comunidad de', 'Comunidad de Madrid')
spain16['CA'] = spain16['CA'].replace('Murcia, Región de', 'Comunidad de Murcia')
spain16['CA'] = spain16['CA'].replace('Rioja, La', 'Comunidad Valenciana')
spain16['CA'] = spain16['CA'].replace('Castilla-La Mancha', 'Castilla La Mancha')
comprobar(spain16)

Empty DataFrame
Columns: [CA, Solicitantes]
Index: []

In [426]:
spain16.isnull().sum()

CA              0
Solicitantes    0
dtype: int64

In [427]:
spain16['Año'] = 2016

### 2017 - España

In [428]:
spain17 = leer_fichero('TABLA 2-3.xlsx', 'Asilo2017', '.xlsx', 0, 1, 'A:D')
spain17.tail(4)

C:\Users\maria\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Comunidad autónoma,Hombres,Mujeres,Total
17,Ceuta,193.0,13.0,206.0
18,Melilla,1705.0,1182.0,2887.0
19,Total,17340.0,12629.0,29969.0
20,Nota: No se contabilizan las solicitudes en em...,NaN,NaN,NaN

In [429]:
spain17 = spain17.drop(columns=['Mujeres', 'Hombres'])

In [430]:
spain17 = spain17.iloc[:-2]
spain17.tail(4)

   Comunidad autónoma   Total
15         País Vasco   970.0
16          Rioja, La    65.0
17              Ceuta   206.0
18            Melilla  2887.0

In [431]:
spain17 =  spain17.rename(columns={ 'Comunidad autónoma': 'CA', 'Total': 'Solicitantes' })
spain17['CA'] = spain17['CA'].str.strip()
comprobar(spain17)

                             CA  Solicitantes
2       Asturias, Principado de         355.0
3                Balears, Illes         207.0
4                      Canarias         889.0
7            Castilla-La Mancha         357.0
9          Comunitat Valenciana        2324.0
12         Madrid, Comunidad de       11233.0
13            Murcia, Región de         971.0
14  Navarra, Comunidad Foral de         175.0
16                    Rioja, La          65.0

In [432]:
spain17['CA'] = spain17['CA'].replace('Comunitat Valenciana', 'Comunidad Valenciana')
spain17['CA'] = spain17['CA'].replace('Asturias, Principado de', 'Asturias')
spain17['CA'] = spain17['CA'].replace('Balears, Illes', 'Islas Baleares')
spain17['CA'] = spain17['CA'].replace('Canarias', 'Islas Canarias')
spain17['CA'] = spain17['CA'].replace('Madrid, Comunidad de', 'Comunidad de Madrid')
spain17['CA'] = spain17['CA'].replace('Murcia, Región de', 'Comunidad de Murcia')
spain17['CA'] = spain17['CA'].replace('Navarra, Comunidad Foral de', 'Navarra')
spain17['CA'] = spain17['CA'].replace('Rioja, La', 'Comunidad Valenciana')
spain17['CA'] = spain17['CA'].replace('Castilla-La Mancha', 'Castilla La Mancha')
comprobar(spain17)

Empty DataFrame
Columns: [CA, Solicitantes]
Index: []

In [433]:
spain17.isnull().sum()

CA              0
Solicitantes    0
dtype: int64

In [434]:
spain17['Año'] = 2017

### 2018 - España

In [435]:
spain18 = leer_fichero('TABLA 2-4.xlsx', 'Asilo2018', '.xlsx', 0, 1, 'A:E')
spain18.tail(4)

,Comunidad autónoma,Provincia,Hombres,Mujeres,Total
60,Ceuta,NaN,317.0,31.0,348.0
61,Melilla,NaN,2476.0,999.0,3475.0
62,Total,NaN,31231.0,23093.0,54324.0
63,Nota: No se contabilizan las solicitudes prese...,NaN,NaN,NaN,NaN

In [436]:
spain18 = spain18.drop(columns=['Provincia', 'Hombres', 'Mujeres'])

In [437]:
spain18.head()

  Comunidad autónoma   Total
0          Andalucía  5414.0
1                NaN     NaN
2                NaN     NaN
3                NaN     NaN
4                NaN     NaN

In [438]:
spain18 = spain18.dropna()
spain18 = spain18.iloc[:-1]
spain18.tail()

             Comunidad autónoma   Total
54  Navarra, Comunidad Foral de   325.0
55                   País Vasco  1596.0
59                    Rioja, La   142.0
60                        Ceuta   348.0
61                      Melilla  3475.0

In [439]:
spain18 =  spain18.rename(columns={ 'Comunidad autónoma': 'CA' , 'Total': 'Solicitantes'})
spain18['CA'] = spain18['CA'].str.strip()
comprobar(spain18)

                             CA  Solicitantes
13      Asturias, Principado de         531.0
14               Balears, Illes         494.0
15                     Canarias        2093.0
29           Castilla-La Mancha         806.0
40         Comunitat Valenciana        4329.0
52         Madrid, Comunidad de       20731.0
53            Murcia, Región de        1642.0
54  Navarra, Comunidad Foral de         325.0
59                    Rioja, La         142.0

In [440]:
spain18['CA'] = spain18['CA'].replace('Comunitat Valenciana', 'Comunidad Valenciana')
spain18['CA'] = spain18['CA'].replace('Asturias, Principado de', 'Asturias')
spain18['CA'] = spain18['CA'].replace('Balears, Illes', 'Islas Baleares')
spain18['CA'] = spain18['CA'].replace('Canarias', 'Islas Canarias')
spain18['CA'] = spain18['CA'].replace('Madrid, Comunidad de', 'Comunidad de Madrid')
spain18['CA'] = spain18['CA'].replace('Murcia, Región de', 'Comunidad de Murcia')
spain18['CA'] = spain18['CA'].replace('Navarra, Comunidad Foral de', 'Navarra')
spain18['CA'] = spain18['CA'].replace('Rioja, La', 'Comunidad Valenciana')
spain18['CA'] = spain18['CA'].replace('Castilla-La Mancha', 'Castilla La Mancha')
comprobar(spain18)

Empty DataFrame
Columns: [CA, Solicitantes]
Index: []

In [441]:
spain18.isnull().sum()

CA              0
Solicitantes    0
dtype: int64

In [442]:
spain18['Año'] = 2018

### 2019 - España

In [443]:
spain19 = pd.read_excel(f'../data/raw/Asilo2019.xlsx', sheet_name=3, skiprows=1, usecols='A:E')
spain19.tail(3)

,Comunidad autónoma,Provincia,Hombres,Mujeres,Total
61,Melilla,NaN,3343.0,924.0,4267.0
62,Total,NaN,63769.0,52980.0,116749.0
63,Nota: No se contabilizan las solicitudes prese...,NaN,NaN,NaN,NaN

In [444]:
spain19 = spain19.drop(columns=['Provincia', 'Hombres', 'Mujeres'])

In [445]:
spain19.isnull().sum()

Comunidad autónoma    43
Total                 44
dtype: int64

In [446]:
spain19 = spain19.dropna(subset=['Comunidad autónoma'], ignore_index=True)
spain19 = spain19.iloc[:-2]
spain19.tail(3)

   Comunidad autónoma   Total
16          Rioja, La   344.0
17              Ceuta   579.0
18            Melilla  4267.0

In [447]:
spain19 =  spain19.rename(columns={ 'Comunidad autónoma': 'CA' , 'Total': 'Solicitantes'})
spain19['CA'] = spain19['CA'].str.strip()
comprobar(spain19)

                             CA  Solicitantes
2       Asturias, Principado de        1269.0
3                Balears, Illes         884.0
4                      Canarias        3104.0
7            Castilla-La Mancha        1614.0
9          Comunitat Valenciana        7509.0
12         Madrid, Comunidad de       55135.0
13            Murcia, Región de        2748.0
14  Navarra, Comunidad Foral de         709.0
16                    Rioja, La         344.0

In [448]:
spain19['CA'] = spain19['CA'].replace('Comunitat Valenciana', 'Comunidad Valenciana')
spain19['CA'] = spain19['CA'].replace('Asturias, Principado de', 'Asturias')
spain19['CA'] = spain19['CA'].replace('Balears, Illes', 'Islas Baleares')
spain19['CA'] = spain19['CA'].replace('Canarias', 'Islas Canarias')
spain19['CA'] = spain19['CA'].replace('Madrid, Comunidad de', 'Comunidad de Madrid')
spain19['CA'] = spain19['CA'].replace('Murcia, Región de', 'Comunidad de Murcia')
spain19['CA'] = spain19['CA'].replace('Navarra, Comunidad Foral de', 'Navarra')
spain19['CA'] = spain19['CA'].replace('Rioja, La', 'Comunidad Valenciana')
spain19['CA'] = spain19['CA'].replace('Castilla-La Mancha', 'Castilla La Mancha')
comprobar(spain19)

Empty DataFrame
Columns: [CA, Solicitantes]
Index: []

In [449]:
spain19.isnull().sum()

CA              0
Solicitantes    0
dtype: int64

In [450]:
spain19['Año'] = 2019

### 2020 - España

In [451]:
spain20 = pd.read_excel(f'../data/raw/Asilo2020.xlsx', sheet_name=3, skiprows=1, usecols='A:E')
spain20.tail(4)

,Comunidad autónoma,Provincia,Hombres,Mujeres,Total
62,Total,NaN,47019.0,41612.0,88631.0
63,Nota: No se contabilizan las solicitudes prese...,NaN,NaN,NaN,NaN
64,NaN,NaN,NaN,NaN,NaN
65,Volver a índice,NaN,NaN,NaN,NaN

In [452]:
spain20 = spain20.drop(columns=['Provincia', 'Hombres', 'Mujeres'])

In [453]:
spain20 = spain20.iloc[:-4]
spain20.tail(2)

   Comunidad autónoma   Total
60              Ceuta   285.0
61            Melilla  1421.0

In [454]:
spain20 = spain20.dropna(ignore_index=True)
spain20.tail(3)

   Comunidad autónoma   Total
16          Rioja, La   475.0
17              Ceuta   285.0
18            Melilla  1421.0

In [455]:
spain20 =  spain20.rename(columns={ 'Comunidad autónoma': 'CA' , 'Total': 'Solicitantes'})
spain20['CA'] = spain20['CA'].str.strip()
comprobar(spain20)

                             CA  Solicitantes
2       Asturias, Principado de        1001.0
3                Balears, Illes        1617.0
4                      Canarias        3985.0
7            Castilla-La Mancha        1402.0
9          Comunitat Valenciana        9061.0
12         Madrid, Comunidad de       33878.0
13            Murcia, Región de        2468.0
14  Navarra, Comunidad Foral de         972.0
16                    Rioja, La         475.0

In [456]:
spain20['CA'] = spain20['CA'].replace('Comunitat Valenciana', 'Comunidad Valenciana')
spain20['CA'] = spain20['CA'].replace('Asturias, Principado de', 'Asturias')
spain20['CA'] = spain20['CA'].replace('Balears, Illes', 'Islas Baleares')
spain20['CA'] = spain20['CA'].replace('Canarias', 'Islas Canarias')
spain20['CA'] = spain20['CA'].replace('Madrid, Comunidad de', 'Comunidad de Madrid')
spain20['CA'] = spain20['CA'].replace('Murcia, Región de', 'Comunidad de Murcia')
spain20['CA'] = spain20['CA'].replace('Navarra, Comunidad Foral de', 'Navarra')
spain20['CA'] = spain20['CA'].replace('Rioja, La', 'Comunidad Valenciana')
spain20['CA'] = spain20['CA'].replace('Castilla-La Mancha', 'Castilla La Mancha')
comprobar(spain20)

Empty DataFrame
Columns: [CA, Solicitantes]
Index: []

In [457]:
spain20.isnull().sum()

CA              0
Solicitantes    0
dtype: int64

In [458]:
spain20['Año'] = 2020

### 2021 - España

In [508]:
spain21 = pd.read_excel(f'../data/raw/Asilo2021.xlsx', sheet_name=4, skiprows=1, usecols='A:E')
spain21.tail(3)

,Comunidad autónoma,Provincia,Hombres,Mujeres,Total
61,Melilla,NaN,2768.0,509.0,3277
62,Total,NaN,41060.0,22645.0,63705
63,Nota: no se contabilizan las solicitudes prese...,NaN,NaN,NaN,NaN

In [509]:
spain21 = spain21.drop(columns=['Provincia', 'Hombres', 'Mujeres'])

In [510]:
spain21 = spain21.iloc[:-2]
spain21.tail(2)

   Comunidad autónoma Total
60              Ceuta  3157
61            Melilla  3277

In [511]:
spain21 = spain21.dropna(ignore_index=True)
spain21.tail(3)

   Comunidad autónoma Total
16          Rioja, La   248
17              Ceuta  3157
18            Melilla  3277

In [512]:
spain21 =  spain21.rename(columns={ 'Comunidad autónoma': 'CA', 'Total': 'Solicitantes' })
spain21['CA'] = spain21['CA'].str.strip()
comprobar(spain21)

                             CA Solicitantes
2       Asturias, Principado de          653
3                Balears, Illes          464
4                      Canarias         5497
7            Castilla-La Mancha         1699
9          Comunitat Valenciana         4260
12         Madrid, Comunidad de        17991
13            Murcia, Región de         2508
14  Navarra, Comunidad Foral de          594
16                    Rioja, La          248

In [513]:
spain21['CA'] = spain21['CA'].replace('Comunitat Valenciana', 'Comunidad Valenciana')
spain21['CA'] = spain21['CA'].replace('Asturias, Principado de', 'Asturias')
spain21['CA'] = spain21['CA'].replace('Balears, Illes', 'Islas Baleares')
spain21['CA'] = spain21['CA'].replace('Canarias', 'Islas Canarias')
spain21['CA'] = spain21['CA'].replace('Madrid, Comunidad de', 'Comunidad de Madrid')
spain21['CA'] = spain21['CA'].replace('Murcia, Región de', 'Comunidad de Murcia')
spain21['CA'] = spain21['CA'].replace('Navarra, Comunidad Foral de', 'Navarra')
spain21['CA'] = spain21['CA'].replace('Rioja, La', 'Comunidad Valenciana')
spain21['CA'] = spain21['CA'].replace('Castilla-La Mancha', 'Castilla La Mancha')
comprobar(spain21)

Empty DataFrame
Columns: [CA, Solicitantes]
Index: []

In [514]:
spain21.isnull().sum()

CA              0
Solicitantes    0
dtype: int64

In [515]:
spain21['Año'] = 2021
spain21

                      CA Solicitantes   Año
0              Andalucía        6908   2021
1                 Aragón         1299  2021
2               Asturias          653  2021
3         Islas Baleares          464  2021
4         Islas Canarias         5497  2021
5              Cantabria          705  2021
6        Castilla y León         1713  2021
7     Castilla La Mancha         1699  2021
8               Cataluña         8529  2021
9   Comunidad Valenciana         4260  2021
10           Extremadura          269  2021
11               Galicia         2209  2021
12   Comunidad de Madrid        17991  2021
13   Comunidad de Murcia         2508  2021
14               Navarra          594  2021
15            País Vasco         1725  2021
16  Comunidad Valenciana          248  2021
17                 Ceuta         3157  2021
18               Melilla         3277  2021

## Guardar preproceso

In [516]:
frames = [spain12, spain13, spain14, spain15, spain16, spain17, spain18, spain19, spain20, spain21]
spain_df = pd.concat(frames)
spain_df.shape

(190, 3)

In [520]:
spain_df['Pais'] = 'España'

In [521]:
spain_df[["Solicitantes"]] = spain_df[["Solicitantes"]].astype(int)

In [522]:
spain_df.to_csv("../data/process/AsiloCA.csv", sep=',')